* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    margin-bottom: 3%;
}

label {
    margin: 0 20px 0 5px;
}

fieldset {
    width: 70%;
    padding: 2% 0;
    margin: 3% 0;
    justify-content: space-between;
}

legend {
    padding: 0 5px;
}

input, option {
    outline: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    height: 100%;
}

#header_wrap {
    height: 30%;
    background: rgb(22, 22, 22);
    color: white;
}

#content_wrap {
    height: 70%;
    flex-direction: column;
}

#choose_form, #filter_form {
    background-color: rgb(236, 236, 236);
    padding: 3% 3%;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
}

#filter_form {
    width: 40%;
    flex-direction: column;
}

#submit {
    padding: 5px 15px;
    background-color: rgb(24, 120, 184);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}